--indent 4
--allman false
--semicolons never
--trimwhitespace always
--trailingcommas never
--header strip
--disable fileHeader,wrapMultilineStatementBraces
--exclude Pods,Carthage,DerivedData,SaneHostsPackage/.build,build,outputs,Scripts
